<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.RecordMapper" >
  <resultMap id="BaseResultMap" type="pojo.Record" >
    <id column="RId" property="rid" jdbcType="INTEGER" />
    <result column="GId" property="gid" jdbcType="INTEGER" />
    <result column="MId" property="mid" jdbcType="INTEGER" />
    <result column="RStartTime" property="rstarttime" jdbcType="TIMESTAMP" />
    <result column="REndTime" property="rendtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RId, GId, MId, RStartTime, REndTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record
    where RId = #{rid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record
    where RId = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Record" >
    insert into record (RId, GId, MId, 
      RStartTime, REndTime)
    values (#{rid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, 
      #{rstarttime,jdbcType=TIMESTAMP}, #{rendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Record" >
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        RId,
      </if>
      <if test="gid != null" >
        GId,
      </if>
      <if test="mid != null" >
        MId,
      </if>
      <if test="rstarttime != null" >
        RStartTime,
      </if>
      <if test="rendtime != null" >
        REndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="rstarttime != null" >
        #{rstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rendtime != null" >
        #{rendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Record" >
    update record
    <set >
      <if test="gid != null" >
        GId = #{gid,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        MId = #{mid,jdbcType=INTEGER},
      </if>
      <if test="rstarttime != null" >
        RStartTime = #{rstarttime,jdbcType=TIMESTAMP},
      </if>
      <if test="rendtime != null" >
        REndTime = #{rendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RId = #{rid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Record" >
    update record
    set GId = #{gid,jdbcType=INTEGER},
      MId = #{mid,jdbcType=INTEGER},
      RStartTime = #{rstarttime,jdbcType=TIMESTAMP},
      REndTime = #{rendtime,jdbcType=TIMESTAMP}
    where RId = #{rid,jdbcType=INTEGER}
  </update>
</mapper>